*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    /*outline: 1px solid red;*/
    cursor: none;
}

body{
  overflow-x: hidden;
  background-color: #0d0c2c;
}
.stars {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
  
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  opacity: 0.8;
  border-radius: 50%;
}
.meteor {
  position: absolute;
  top: -100px;
  left: 0;
  width: 2px;
  height: 80px;
  background: linear-gradient(45deg, #00ffe7, transparent);
  transform: rotate(45deg);
  animation: meteorMove 5s linear infinite;
  opacity: 0.8;
}

.meteor.delay {
  left: 50%;
  animation-delay: 2.5s;
}
  
@keyframes meteorMove {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translate(1000px, 1000px) rotate(45deg);
    opacity: 0;
  }
}

nav{
  margin-top: 5%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a{
  text-decoration: none;
  font-size: 1.75rem;
  color:#fff;
}
nav img{
  width: 800px;
}
nav a span{
  display: inline-block; /* Required for transform to work */
  transform: scaleX(-1); /* Flips it horizontally */
  font-size: 3rem;
}
.HeroSection {
  display: flex;
  flex-wrap: wrap; /* allow stacking on smaller screens */
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}
.story-content h1{
  font-size: 3rem;
  padding: 1rem 0rem;
  color: #fff;
  text-shadow: 0 0 5px #fff,
            0 0 10px #0ff,
            0 0 15px #0ff;
}
.story-content p{
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #0ff,
    0 0 15px #0ff;
}
.story-content {
  flex: 2 1 500px;  /* grow: 2, shrink: 1, base width: 500px */
  max-width: 700px;
}

.GrabContent{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.viewer-wrapper {
  flex: 1 1 400px;  /* grow: 1, shrink: 1, base width: 400px */
  max-width: 600px;
  text-align: center;
}
.pop-up{
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 15px #0ff;
  padding: 15px;
  background-color: #2b1f6354;
  border-radius: 10px;
  border: 3px soild #00ffe7;
  font-size: 1.1rem;
}

.viewer-wrapper p{
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #0ff,
    0 0 15px #0ff;
    padding: 20px;
}

spline-viewer {
  width: 100%; /* fill container */
  height: 550px;
  border-radius: 1rem;
}

.rainbow-text {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.rainbow-text {
  background-size: 200% auto;
  animation: rainbow 3s linear infinite;
}
  
@keyframes rainbow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

/*Singing gif With music*/
.moving-buttonContainer{
  margin: 20px 0% 0px 3%
}
.moving-button{
  z-index: 10000;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
  animation: moveUpDown 1s ease-in-out infinite alternate;
  animation-delay: -2s;
  animation-duration: 7s;
  display:flex;
  flex-direction: column;
  align-items: center; 
  width: 150px;
}

.moving-button p{
  color: #fff;
  text-shadow: 0 0 5px #fff,
  0 0 10px #0ff,
  0 0 15px #0ff;
  padding: 15px;
  background-color: #2b1f6354;
  border-radius: 10px;
  border: 3px soild #00ffe7;
  font-size: 1.1rem;
}
.moving-button img{
  height: 150px;
  width: 150px;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.tooltiptext{
  color: #fff;
  text-shadow: 0 0 5px #fff,
  0 0 10px #0ff,
  0 0 15px #0ff;
    padding: 8px 12px;
  border-radius: 8px;
    /* Neon glow */
  text-shadow: 0 0 5px #fff,
               0 0 10px #0ff,
               0 0 15px #0ff;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  display: none;
}
.moving-button:hover .tooltiptext {
  display: block;
}
/*In between section*/
.section-heading {
  font-size: 2rem;
  text-align: center;
  margin: 15% 0px 40px 0px;
  color: #fff;
  text-shadow: 0 0 5px #fff,
               0 0 10px #0ff,
               0 0 15px #0ff;
}

/*Carosel Cards*/
.CarouselContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.WrapperCarousel{
    max-width: 1100px;
    position: relative;
    display: flex;
    justify-content: space-between; /* Distributes items evenly along the main-axis */
    padding: 0 20px;
    width: 100%; /* Full width of the viewport */
    overflow-x: auto;
}
.WrapperCarousel i:hover{
    transform: translateY(-55%);
    background-color: #6045E1;
}
.WrapperCarousel i{
 
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-weight: bold; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px black;
    z-index: 5;
    font-size: 1.25rem;
}
.WrapperCarousel i:first-child{
    left: 10px;
}
.WrapperCarousel i:last-child{
    right: 10px;
}

.WrapperCarousel .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 19px);
    gap: 20px;
    overflow: hidden;
    height: 370px;
    align-items: center;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel :where(.card, .img){ /* https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity <- This teaches well on specificity of Where:*/
    display:flex;
    align-items: center;
    justify-content: center;
}

.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;
}

.carousel .card {
    /*height: 342px;*/
    scroll-snap-align: start;
    list-style: none;
    background-color:#6045E1;
    border-radius: 8px;
    box-shadow: 1px 3px 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   /* padding: 20px;*/
    
}
.card{
    height: 350px;
}
.card:hover{
    top: -10px;
    background-color:  rgb(0, 10, 5);
    position: relative;
}
.card .imgCard{
    background-color: #ffffff;
    height: 98%;
    border-radius: 8px;
    object-fit: cover;
    text-overflow: ellipsis;
    white-space: normal; 
    overflow: hidden;
}
.card .imgCard img{
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
    box-shadow: 0 5px 5px -3px black;
    background-color: rgb(230, 230, 230);
}
.card .imgCard .InnerText{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#6045E1;
    flex-direction: column;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: normal; 
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.205);
}
.card .imgCard h2{
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.678);
}

.card .imgCard a{
    background-color:#6045E1;
    padding: 15px;
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 1px 2px 3px black;
    box-shadow: 1px 2px 5px black;
}

.card .imgCard a:hover{
    background-color: #6045E1;
}

/*Back to top button */
#backToTop {
  z-index: 100;
  opacity: 0;
  background-color: #38bdf8;
  color: white;
  border: none;
  border-radius: 150px 150px 0px 0px;
  padding: 20px 55px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTop:hover {
  background-color: #0ea5e9;
  transform: scale(1.1);
}

#backToTop.show {
  opacity: 1;
  pointer-events: auto;
}
/*Social Media buttons*/
.socials-callout{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display:flex;
  justify-content: center;
  padding-top: 2%;
}
.footer-socials {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.footer-socials a {
  margin: 0 10px;
  transition: transform 0.2s ease, filter 0.3s ease;
}

.footer-socials img {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.7));
}
.footer-socials .adjustments {
  transform: scale(1.4); /* 80% bigger than default */
}

.footer-socials a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 1));
}

/*MediaQueries*/

@media(max-width: 610px){
    nav{
      flex-direction: column;
    }
    nav img{
      width: 100%;
    }
    .GrabContent{
      flex-direction: column;
    }

    /*Card Carousel Media Queries */
    .WrapperCarousel .carousel{
        grid-auto-columns: 100%;
    }
    .GridContainer{
        grid-template-columns: repeat(3, 125px);
    }
    .OuterSectionText{
        padding: 30px;
        text-align: center;
        margin: 20px auto;
    }
    .GridItem{
        padding: 15px;
    }
}

@media(max-width: 910px){
 /*Card Carousel Media Queries */
    .WrapperCarousel .carousel{
        grid-auto-columns: calc((100%) );
    }
    .Links{
        grid-template-columns: repeat(3, 125px);
    }
    .ImgType{
        height: 262px;
        width: 258px;
    }
    .Wrapper{
        width: auto;
    }
    .AboutContent{
        flex-direction: column;
    }
    .Column1{
        width: 100%;
        padding-right: 0;
    }
    .Column2{
        width: 100%;
    }
    .TextContent{
        padding: 0;
    }
}

/*Footer classes for the bottom bar*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-bar{
  background-color: #171717;
  padding-top:20px;
}
.footer-content{
  width:100%;
}

footer .fullbackground{
  width: 100%;
  background-color: #4e4a49;
}
footer p {
  background-color: #4e4a49;
  padding: 15px 15px 20px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

footer a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.back-to{
  text-shadow: 0 0 5px #fff,
  0 0 10px #0ff,
  0 0 15px #0ff;
  padding: 15px;
  background-color: #2b1f6354;
  border-radius: 10px;
  border: 3px soild #00ffe7;
  font-size: 1.1rem;
}